/*

theme: rana-theme;
author: webmvw;
version: 1.0;
description: rana multipurpose wordpress responsive theme.
tags: Business, Corporate, Responsive, Blog, Portfolio, one-column, flexible-header, accessibility-ready, custom-colors, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, rtl-language-support, sticky-post, threaded-comments, translation-ready, block-patterns;

*/